body {
    background: #79c5f8;
}

h1, p, footer {
    text-align: center;
}

footer a {
    margin: 0 10px;
    color: rgb(231, 229, 79);
}

img {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}